.articles-heading {
    margin-bottom: 20px;
}

.article {
    grid-row: 1/3;
    width: 360px;
    height: 335px;
    display: flex;         
    flex-direction: column; 
    justify-content: center;
    align-items: center;
    padding: 16px;
    border-radius: 8px;
    background-color: #426b1f;
    overflow: hidden;
}



.article img {
    width: 100%;       
    height: auto;      
    object-fit: contain; 
    border-radius: 8px; 
}

.text {
    text-align: center;
    margin-top: 12px;
}


.black{
    color: black;
    font-family: 'Gill Sans';
    font-size: 70px;
}

.article--one {
    grid-column: 1;
}

.article--two {
    grid-column: 2;
}

.article--three {
    grid-column: 3;
}

.wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 90px;
    grid-auto-rows: minmax(100px, 140px);
    color: white;
    max-width: 100%; /* Prevent overflow */
    justify-content: center; /* Center content within the grid */
    margin: auto;
    align-items: center;
}

.heading {
    text-align: center;
    margin-bottom: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
  }

/**
.wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 25px;
    grid-auto-rows: minmax(100px, 140px);
    font-size: 28px;
    color: white;
    justify-content: center;
    margin: auto;
}
*/
.section{
    width: 100%;
    padding: 10px;
    display: flex; /* Use flexbox */
    justify-content: center; /* Center grid horizontally */
    opacity: 1;
    scroll-margin-top: 176px;
    background-color: #cb79;
}

/**
.section{
    width: 100%;
    padding: 10px;
    display: inline-block;
    background-color: rgb(245, 240, 230);
    opacity: 1;
    justify-content: center;
    scroll-margin-top: 176px;
    font-size: 28px;
}
*/