.base-timer {
    position: relative;
    height: 300px;
    width: 300px;
  }
  
  .base-timer__circle {
    fill: none;
    stroke: none;
  }
  
  .base-timer__path-elapsed {
    stroke-width: 7px;
    stroke: grey;
  }
  
  .base-timer__label {
    position: absolute;
    width: 300px;
    height: 300px;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 48px;
  }
  
  .base-timer__path-remaining {
    stroke-width: 7px;
    stroke-linecap: round;
    transform: rotate(90deg);
    transform-origin: center;
    transition: 1s linear all;
    stroke: currentColor;
  }
  
  .base-timer__path-remaining.green {
    color: #426B1F;
  }
  
  .base-timer__path-remaining.orange {
    color: orange;
  }
  
  .base-timer__path-remaining.red {
    color: red;
  }
  
  .base-timer__svg {
    transform: scaleX(-1);
  }
  
  .time-input {
    margin-bottom: 20px;
    text-align: center;
  }
  
  .time-input input {
    font-size: 16px;
    padding: 5px;
    width: 60px;
  }
  
  .timer-controls {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }
  
  .timer-controls button {
    margin: 0 10px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
  }
  
  h1{
    color:#426B1F;
  }

    button {
        display: inline-block;
        border: none;
        padding: 1rem 2rem;
        margin: 0;
        text-decoration: none;
        background: #426B1F;
        color: #ffffff;
        font-family: sans-serif;
        font-size: 1rem;
        line-height: 1;
        cursor: pointer;
        text-align: center;
    }

    .timer-label {
        font-size: 18px;
        font-weight: bold;
        color: #555;
        font-family: 'Poppins', sans-serif;
        letter-spacing: 1px;
    }
      